ion-header{
  ion-toolbar {
    --background:#7972e6;
    
  }
    p.kalimat{
     margin-left: 12%;
     align-items: center;
     font-size: 1.3rem;
     margin-top: -31px;
     color: #fff;
    }
  }
  ion-icon {
    font-size:30px;
    margin-left: 5px;
    margin-top:12px;
    color: #fff;
  
  }
  .support-logo {
    min-height: 100px;
  
    padding: 20px 0;
  
    text-align: center;
  }
  
  .support-logo img {
    max-width: 100px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
  .support-form {
    padding: 16px;
  }
  ion-textarea{
    border: 0.5px black solid;

  }
  