<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="all-order"> 
      
        <ion-icon class="icon" name="home">
        </ion-icon>
        <ion-label>All Order</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-icon class="icon" name="newspaper-outline"></ion-icon>
        <ion-label>History</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon class="icon" name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
