<ion-header [translucent]="true"> 
  <ion-toolbar > 
    <ion-icon name="arrow-back" routerLink="/tabs/profile"></ion-icon>
   <p class="kalimat"> About Jastip App</p>
  </ion-toolbar> 
</ion-header> 

<ion-content [fullscreen]="true">
  <div class="about-card">
    <ion-card-content>
      <h2 class="kalimat">Jastip App</h2> <br>
      <p>Welcome to Jastip App, your trusted platform for personal shopping and delivery services. Our app connects shoppers and travelers, allowing users to request items from around the world and have them delivered to their doorstep.</p>
      <p>With Jastip App, you can:</p>
      <ul>
        <li>Browse and search for various products from different countries.</li>
        <li>Create shopping requests and specify your desired items.</li>
        <li>Connect with travelers who can help you purchase and deliver the products.</li>
        <li>Track the status of your orders and receive notifications.</li>
        <li>Communicate with travelers and sellers through our messaging system.</li>
        <li>Enjoy a secure and reliable payment system.</li>
      </ul>
      <p>Our mission is to make international shopping convenient and accessible to everyone. Whether you're looking for unique items, exclusive deals, or simply want to explore global markets, Jastip App is here to help.</p>
      <p>Start shopping the world today with Jastip App!</p>
    </ion-card-content>
  </div>
</ion-content>
